/* countdown & facts */
.countdown {
    background-color: #000;
    padding: 60px 0;
}
.countdown .section-title {
    color: #fff;
}
@media (min-width:768px) {
    .countdown .section-title {
        margin: 0;
        text-align: right;
    }
}
.is-countdown {
    background-color: #000;
    border-color: transparent;
    color: #fff;
}
.countdown-section {
    font-weight: 700;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}
.countdown-amount {
    border-bottom: 2px solid #262626;
    padding-bottom: 10px;
}
.countdown-period {
    margin-top: 20px;
}
@media (min-width:768px) {
    .countdown .row {
        display: table;
    }
    .countdown [class*="col-"] {
        display: table-cell;
        float: none;
        vertical-align: middle;
    }
}
.facts {
    padding: 100px 0;
}
.facts h3 {
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
}

/*faqs*/
.faq .panel-heading {
    cursor: pointer;
}
.faq .faq-toggle.collapsed::before {
    content: "\f143";
    font-family: "Ionicons";
    left: 15px;
    position: absolute;
    transition: 0.5s linear ease-out;
    -webkit-transition: 0.5s linear ease-out;
}
.faq .faq-toggle::before {
    content: "\f209";
    font-family: "Ionicons";
    left: 15px;
    position: absolute;
}
.faq .panel-group .panel + .panel {
    margin-top: 15px;
}
.faq .panel-default > .panel-heading {
    background-color: #000000;
    border-color: #000;
    border-radius: 0;
    color: #fff;
    padding: 0;
}
.faq .panel-default > .panel-heading a {
    display: block;
    padding: 15px 15px 15px 35px;
    position: relative;
    text-decoration: none;
}
.important-date {
    background-color: #f8f8f8;
}

/*sponsors*/
#sponsors {
    background-color: #f8f8f8;
}
.sponsor-caption {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    margin-top: 0;
    padding: 15px;
    text-align:center;
    text-transform: uppercase;
}
#sponsors .container>.row:not(:first-child) {
    border: 1px solid #ddd;
    margin-bottom: 5em;
    padding:0 1em;
}
.row.sponsor {
    align-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-width:0 0 1px 0;
    display:flex;
    justify-content: space-around;
    margin:3em 0 1em 0;
    padding:0 0 2em 0;
}
.row.sponsor:last-child {
    border-width:0 0 0 0;
}
.sponsor-gallery img {
    padding:8%;
}

/* header */
.site-header {
    background: url("../images/toronto-office.jpg") no-repeat center left/cover;
    height: 100%;
    min-height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
}
.site-header::before {
    background-color: rgba(0, 0, 0, 0.3);
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    bottom: 0;
    content: "";
    left: 0;
    right: 0;
    position: absolute;
    top: 0;
}
.site-header .intro {
    color: #fff;
    padding: 0 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    z-index: 1;
}
.site-header .intro h1 {
    font-size: 20px;
    margin-top: 0px;
}
.site-header .intro img {
    height: 25vh;
}
@media (min-width:768px) {
    .site-header .intro h1 {
        font-size: 36px;
    }
    .site-header .intro img {
        height: 50vh;
    }
}
/* about */
.about .section-title {
    margin: 0 0 25px;
}
.about figure {
    margin-bottom: 25px;
    text-align: center;
}
.about figure img {
    margin: auto;
}
@media (min-width:768px) {
    .about figure {
        margin-bottom: 0px;
        text-align: left;
    }
}
/* keynote */
.keynotes figure {
    text-align:center;
}
.keynotes figure img {
    margin: auto;
}
