.section.schedule {
    padding: 0 0 4.375em 0;
}
@media (min-width: 768px) {
    .section.schedule {
        padding: 0 0 6.85em 0;
    }
}
.site-header {
    height: 50%;
    min-height: 50vh;
    position: relative;
    text-align: center;
    width: 100%;
}
.site-header .intro {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.site-header .intro h1 {
    font-size: 20px;
    margin-top: 3em;
}
@media (min-width:768px) {
    .site-header .intro h1 {
        font-size: 36px;
    }
}
#schedule .section-title {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    margin-top: 0px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
}
#schedule .section-title span {
    display:block;
}
/* schedule */
.section-title#day1,
.section-title#day2 {
    margin-top: 2em;
}
@media (min-width:768px) {
    .section-title#day1,
    .section-title#day2 {
        margin-top: 4em;
    }
}
#schedule .row {
    margin-bottom:3em;
}
#schedule #persistentconferencefeatures {
    border-color:#ccc;
    border-radius: 0 1em;
    border-style:solid;
    border-width:0 0 0 0;
}
@media (min-width:992px) {
    #schedule #persistentconferencefeatures {
        border-width:1px 1px 1px 0;
    }
}
#schedule #timetable {
    border-color:#ccc;
    border-radius: 0 0;
    border-style:solid;
    border-width:0 0 0 0;    
}
@media (min-width:992px) {
    #schedule #timetable {
        border-width:0 1px 0 0;
    }
}
#schedule .row .col-sm-3 {
    border-color:#ccc;
    border-style:solid;
    border-width:1px 0 0 0;
}
#schedule .row .col-sm-9 {
    border-color:#ccc;
    border-radius: 0 1em;
    border-style:solid;
    border-width:0 0 1px 1px;
}
.ion-document-text {
    margin-right:0.6em;
}
.ion-archive {
    margin-right:0.3em;
}
#schedule .container h3 {
    font-size: 1.36em;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.time{
    font-size: 1em ;
    font-weight: 700;
    letter-spacing: 0.06em;
    margin-top:20px;
    text-transform: uppercase;
}
#schedule .row ul.social-block {
    font-size:80%;
    letter-spacing: 0.6em;
    margin-top:1em;
}
@media (min-width:992px) {
    .col-xs-12.col-md-2.col-md-push-10 {
        border-color:#ccc;
        border-style:solid;
        border-width:1px 0 0 0;
    }
    .col-xs-12.col-md-2.col-md-push-10 h4 {
        font-size:14px;
    }
