/*global & in-page*/
.bg-image, .bg-image-1, .bg-image-2 {
    position: relative;
}
.bg-image::before, .bg-image-1::before, .bg-image-2::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.bg-image-1 {
    background: url("../images/canadian_landscape_3_by_karinbreem.jpg") no-repeat center center/cover;
}
.bg-image-1::before {
    background-color: rgba(0, 0, 0, 0.3);
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
}
.btn {
    backface-visibility: hidden;
    border: 0;
    border-radius: 0;
    padding: 6px 28px;
    text-transform: uppercase;
    transform: translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform;
}
.btn-black {
    background-color: #000;
    border: 1px solid transparent;
    color: #fff;
    width: 100%;
}
.btn-black:hover, .btn-black:focus {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}
.btn-white {
    background-color: #fff;
    border: 1px solid transparent;
    color: #000;
}
.btn-white:hover {
    background: #000;
    border: 1px solid #fff;
    color: #fff;
}
.panel{
    background-color: transparent;
}
.panel-default{
    border-color: transparent;
}
.panel-default>.panel-heading {
    background-color: transparent;
    border-bottom-color: #ddd;
    border-color: transparent;
    color: #000;
}

/* schedule */
.schedule {
    background-color: #f8f8f8;
}
.schedule_item {
    border-bottom: 1px solid #d8d8d8;
    padding-top: 1.6em;
}
.schedule_item h4 {
    font-size: 90%;
    text-align:center;
}
.schedule_item h5 {
    font-size: 114%;
    text-align:center;
}
.schedule_item h5+p {
    text-align:center;
}
.schedule_item p a>i {
    display:block;
}
.schedule .panel-body{
    margin-bottom: 1.6em;
}

.time{
    font-size: 1em ;
    font-weight: 700;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.full-width-block{
    display:block;
    font-size: 1.36em;
    font-weight: 700;
    letter-spacing: 0.1em;
    position: relative;
    text-transform: uppercase;
    width: 100%;
}
.full-width-block:after{
    color: #000000;
    content: "\f3d8";
    font-family: 'Ionicons';
    position: absolute;
    right: 0;
    transition: all 0.2s ease-in-out;
}
.collapsed>.full-width-block:after{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.outer-tabs{
    background-color: #fbfbfb;
    border: 1px solid #dddddd;
}
.nav-tabs>li{
    width: 33.3333333333%;
}
.nav-tabs>li>h3 {
    margin:0;padding:0;
}
.nav-tabs>li>a {
    background-color: #f5f5f5;
    border: 1px solid #ededed;
    border-radius: 0;
    margin-right: 0;
    padding: 1em;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover{
    background-color: #000000;
    border-bottom-color: transparent;
    border-color: #000000;
    color: #ffffff;
    cursor: pointer;
}
.schedule_item .img-responsive{
    width:100%;
}
.speaker-thumbnail {
    max-width:3em;
    max-height:3em;
}
.schedule_item ul.social-block{
    font-size:80%;
    letter-spacing: 0.6em;
    margin-top:1em;
    text-align:center;
}
/* about */
.about .section-title {
    margin: 0 0 25px;
}
.about figure {
    margin-bottom: 25px;
    text-align: center;
}
.about figure img {
    margin: auto;
}
@media (min-width:768px) {
    .about figure {
        margin-bottom: 0px;
        text-align: left;
    }
}

/* countdown & facts */
.countdown {
    background-color: #000;
    padding: 60px 0;
}
.countdown .section-title {
    color: #fff;
}
@media (min-width:768px) {
    .countdown .section-title {
        margin: 0;
        text-align: right;
    }
}
.is-countdown {
    background-color: #000;
    border-color: transparent;
    color: #fff;
}
.countdown-section {
    font-weight: 700;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}
.countdown-amount {
    border-bottom: 2px solid #262626;
    padding-bottom: 10px;
}
.countdown-period {
    margin-top: 20px;
}
@media (min-width:768px) {
    .countdown .row {
        display: table;
    }
    .countdown [class*="col-"] {
        display: table-cell;
        float: none;
        vertical-align: middle;
    }
}
.facts {
    padding: 100px 0;
}
.facts h3 {
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
}

/*faqs*/
.faq .panel-heading {
    cursor: pointer;
}
.faq .faq-toggle.collapsed::before {
    content: "\f143";
    font-family: "Ionicons";
    left: 15px;
    position: absolute;
    transition: 0.5s linear ease-out;
    -webkit-transition: 0.5s linear ease-out;
}
.faq .faq-toggle::before {
    content: "\f209";
    font-family: "Ionicons";
    left: 15px;
    position: absolute;
}
.faq .panel-group .panel + .panel {
    margin-top: 15px;
}
.faq .panel-default > .panel-heading {
    background-color: #000000;
    border-color: #000;
    border-radius: 0;
    color: #fff;
    padding: 0;
}
.faq .panel-default > .panel-heading a {
    display: block;
    padding: 15px 15px 15px 35px;
    position: relative;
    text-decoration: none;
}
.important-date {
    background-color: #f8f8f8;
}

/*sponsors & partners*/
.sponsors .row {
    text-align: center;
}
.sponsors .row:first-child>div {
    border: 1px solid #ddd;
    margin-bottom: 70px;
}
.sponsors img {
    padding: 5%;
}
.sponsor-caption {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    margin-top: 0;
    padding: 15px;
    text-transform: uppercase;
}
.partner {
    background-color: #f8f8f8;
}
.partner .partner-box {
    display: block;
    height: 100%;
    margin: 25px auto;
    min-height: 150px;
    min-width: 150px;
    width: 100%;
}
.partner .partner-box-1 {
    background: url(../images/scrumalliance-logo.svg) no-repeat center center/contain;
}
.valign-center {
    align-items: center;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
}
.venue-logo {
    background: url(../images/TORRT_L007a_stk_7447U_CMYK_24694_EPS.svg) no-repeat center center/contain;
    display: block;
    height: 100%;
    margin: 25px auto;
    min-height: 150px;
    min-width: 150px;
    width: 100%;
}
/*nav and header */
.navbar-right {
    margin-top: 28px;
}
.navbar-custom {
    background-color: #000;
    border: 0;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
}
.navbar-custom .navbar-nav li {
    margin: 0;
}
.navbar-custom .navbar-nav > li > a {
    border-bottom: 1px solid transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}
.navbar-custom .navbar-nav > li > a:focus, .navbar-custom .navbar-nav > li > a:hover {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.5);
}
.navbar-custom .navbar-nav > .active > a {
    border-color: rgb(255, 255, 255);
}
.navbar-toggle {
    border: 0;
    border-radius: 0;
    margin-top: 2px;
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-solid {
    background-color: #000 !important;
    padding: 0 !important;
    transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
}
@media (min-width:768px) {
    .navbar-custom {
        background-color: transparent;
        padding-top: 10px;
    }
}
.site-branding {
    float: left;
    margin-top: 0;
}
.site-branding .logo {
    background: url(../images/SA_RegionalGathering_CanadaLogo-02.svg) no-repeat center center/contain;
    display: block;
    height: 100%;
    margin: auto 0 auto 1em;
    min-height: 3em;
    min-width: 3em;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    width: 100%;
}
.navbar-solid .site-branding .logo {
    opacity: 1;
}
@media (min-width:768px) {
    .site-branding {
        padding-left: 1em;
    }
    .site-branding .logo {
        margin: auto 0 auto 0;
        min-height: 6em;
        min-width: 6em;
    }
}
.site-header {
    background: url("../images/toronto-office.jpg") no-repeat center left/cover;
    height: 100%;
    min-height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
}
.site-header::before {
    background-color: rgba(0, 0, 0, 0.3);
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    bottom: 0;
    content: "";
    left: 0;
    right: 0;
    position: absolute;
    top: 0;
}
.site-header .intro {
    color: #fff;
    padding: 0 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    z-index: 1;
}
.site-header .intro h1 {
    font-size: 20px;
    margin-top: 0px;
}
.site-header .intro img {
    height: 25vh;
}
@media (min-width:768px) {
    .site-header .intro h1 {
        font-size: 36px;
    }
    .site-header .intro img {
        height: 50vh;
    }
}

/*footer*/
.site-footer {
    background-color: #000;
    color: #fff;
    padding: 30px 0 10px;
    text-align: center;
}
.site-footer .site-info {
    font-weight: 400;
    letter-spacing: 2.3px;
    margin-bottom: 10px;
}
.site-footer .site-info a {
    color: #fff;
}
.social-block {
    list-style-type: none;
    padding: 0;
}
.social-block li {
    display: inline-block;
    font-weight: normal;
    line-height: 24px;
    vertical-align: middle;
}
.site-footer .social-block li a {
    color: #fff;
    display: inline-block;
    height: 32px;
    width: 32px;
}
.social-block li a i {
    font-size: 1.5em;
}
.social-block li a:hover, .social-block li a:focus {
    opacity: 0.5;
}