.hide { display:none; }

html, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ol, ul, li, address, blockquote, center, del, div, hr, ins, noscript, pre, input, aside {
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 -webkit-box-sizing: border-box; /* 2 */
} 

input[type="search"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; /* 2 */
  box-sizing: border-box;
}

hr {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="checkbox"],
input[type="radio"] {
	  box-sizing: border-box; /* 1 */
	}

* {
  box-sizing: inherit;
}
