/*modelled after: http://markup.themewagon.com/conference_pro/*/
body {
    position: relative;
}
.section {
    padding: 4.375em 0;
}
@media (min-width: 768px) {
    .section {
        padding: 6.85em 0;
    }
}

/* dev helpers */
/*#countdown,#about,#important-date,#facts,#location,#faq,#sponsors,#site-header	 {display:none;}*/