/* 
 * 6.6 Section: Schedule
 */
.outer-tabs{
    background-color: #fbfbfb;
    border: 1px solid #ddd;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
    color: #FFF;
    cursor: pointer;
    background-color: #000;
    border-color: #000;
    border-bottom-color: transparent;
}
.nav-tabs>li{
    width: 33.3333333333%;
}
.nav-tabs>li>a {
    border-radius: 0;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #ededed;
    margin-right: 0;
    padding: 15px;
    background-color: #f5f5f5;
    transition: all 0.2s ease-in-out;
}
.inner-tabs .nav-tabs>li>a{
    border-color: transparent;
    border-bottom-color: #ededed;
    background-color: #fbfbfb;
}
.inner-tabs .nav-tabs>li.active>a, .inner-tabs .nav-tabs>li.active>a:focus, .inner-tabs .nav-tabs>li.active>a:hover, .inner-tabs .nav-tabs>li>a:focus, .inner-tabs .nav-tabs>li>a:hover, .inner-tabs .nav-tabs>li>a:active {
    border-color: transparent;
    border-bottom-color: #000;
    background-color: inherit;
    color: #000;
}
a:focus, a:hover{
    text-decoration: none;
}
.full-width{
    width: 100%;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 1px;
}
.full-width:after{
    position: absolute;
    content: "\f3d8";
    right: 0;
    font-family: 'Ionicons';
    color: #000;
    transition: all 0.2s ease-in-out;
}
.collapsed>.full-width:after{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.panel{
    background-color: transparent;
}
.panel-default>.panel-heading {
    color: #000;
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: #ddd;
}
.panel-default{
    border-color: transparent;
}
.schedule .panel-group{
    padding: 0 60px;
}
.panel-group .panel{
    border-radius: 0;
}

.thum-s{
    margin-right: 5px;
}
.time{
    font-size: 16px;
    letter-spacing: .4px;
    text-transform: uppercase;
    font-weight: 700;
}

.schedule_item {
    border-bottom: 1px solid #D8D8D8;
    padding-top: 10px;
}
.panel-body{
    margin-bottom: 20px;
}



.schedule-box {
    position: relative;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 50px 0;
    margin: 25px 0 0;
}
.schedule-box::before {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border: 1px solid #fff;
}

/* 
 * 6.8 Section: FAQ
 */
.faq .panel-heading,
.sponsors .panel-heading {
    cursor: pointer;
}

.faq .faq-toggle.collapsed::before,
.sponsors .faq-toggle.collapsed::before {
    font-family: "Ionicons";
    content: "\f143";
    -webkit-transition: 0.5s linear ease-out;
    transition: 0.5s linear ease-out;
    position: absolute;
    left: 15px;
}
.faq .faq-toggle::before,
.sponsors .faq-toggle::before {
    position: absolute;
    left: 15px;
    font-family: "Ionicons";
    content: "\f209";
}
.faq .panel-group .panel + .panel,
.sponsors .panel-group .panel + .panel {
    margin-top: 15px;
}
.faq .panel-default > .panel-heading {
    color: #FFF;
    background-color: #000000;
    border-color: #000;
    border-radius: 0;
    padding: 0;
}
.faq .panel-default > .panel-heading a,
.sponsors .panel-default > .panel-heading a {
    position: relative;
    display: block;
    text-decoration: none;
    padding: 15px 15px 15px 35px;
}

/* 
 * 6.9 Section: photos
 */
.classic-button{
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    text-transform: uppercase;
}
.grid {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.grid::after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    float: left;
    overflow: hidden;
    padding: 3px;
    margin: 0;
    width: 100%;
    position: relative;
}
.grid-item:hover .photo-overlay{
    margin-top: 0;
}
.photo-overlay{
    margin-top: -100%;
    transition: all 0.4s ease-in-out;
    padding-top: calc(50% - 170px);
    vertical-align: middle;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.nivo-lightbox-theme-default .nivo-lightbox-nav:hover{
    background-color: transparent;
}
.nivo-lightbox-image:hover{
    cursor: zoom-out;
}
.photo-overlay h2{
    text-transform: uppercase;
}
.classic-button:hover{
    background-color: transparent;
    color: #fff;
}
li.grid-item{
    position: relative;
}
@media (min-width: 768px) {
    .grid-item-sm-6 {
        width: 50%;
    }

    .grid-item-sm-3 {
        width: 25%;
    }

    .section-title {
        margin: 0 0 30px;
    }
}
@media (min-width: 992px) {
    .schedule-box {
        margin: 0;
    }

    .grid-item-md-6 {
        width: 50%;
    }

    .grid-item-md-3 {
        width: 25%;
    }
}
address {
    line-height: 2.428571;
    color: #000;
    font-weight: 400;
}
/* 
 * 7.0 Site-footer
 */
.site-footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0 10px;
}
.site-footer .site-info {
    font-weight: 400;
    margin-bottom: 10px;
    letter-spacing: 2.3px;
}
.site-footer .site-info a {
    color: #fff;
}
.site-footer .social-block li a {
    color: #fff;
}
.site-footer .social-block li a:hover, .site-footer .social-block li a:focus {
    opacity: 0.8;
}
/*Submisson form*/
#submission section{
    text-align: left;
    padding: 0 50px 50px;
}
#submission p{
    color: #000;
}
#submission .btn-black{
    padding: 14px 28px
}
.pdf{
    margin: 0;
    padding: 0;
}
.pdf span{
    font-size: 50px;
}
.input-group-addon{
    background-color: #000;
    color: #fff;
    font-weight: 400;
    border-radius: 0;
}
/*
Sponsorship
*/
.sponsors .logos,
.sponsors .row:first-child{
    text-align: center;
}
.sponsors .row:first-child>div{
    border: 1px solid #ddd;
    margin-bottom:70px;
}
.sponsors img{
    padding:5% 5%;
}
.sponsor-caption{
    background-color: #000;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    padding: 15px;
    margin-top: 0;
}
/*
Countdown jquery
*/
.countdown{
    padding: 60px 0;
    background-color: #000;
}
.countdown .col-md-2{
    /*background-color: #181818;*/
}
.countdown .section-title{
    color: #fff;
}
@media (min-width: 768px){
    .countdown .section-title{
        text-align: right;
        margin: 0;
    }
}
.is-countdown{
    background-color: #000;
    color: #fff;
    border-color: transparent;
}
.countdown-section{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2.7px;
}
.countdown-amount{
    border-bottom: 2px solid #262626;
    padding-bottom: 10px;
}
.countdown-period{
    margin-top: 20px;
}
@media (min-width: 768px){
    /*Row display middle*/
    .countdown .row {
        display: table;
    }

    .countdown [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: middle;
    }
}
.venue-box {
    display: block;
    min-height: 150px;
    min-width: 150px;
    height:100%;
    width:100%;
    margin: 25px auto;
    /*background: url(../images/TORRT_L001a_ctr_7447U_CMYK_24672_EPS.svg) no-repeat center center/contain;*/
    background: url(../images/TORRT_L007a_stk_7447U_CMYK_24694_EPS.svg) no-repeat center center/contain;
}
