/* 
 * 6.6 Section: Schedule
 */
.outer-tabs{
    background-color: #fbfbfb;
    border: 1px solid #ddd;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
    color: #FFF;
    cursor: pointer;
    background-color: #000;
    border-color: #000;
    border-bottom-color: transparent;
}
.nav-tabs>li{
    width: 33.3333333333%;
}
.nav-tabs>li>a {
    border-radius: 0;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #ededed;
    margin-right: 0;
    padding: 15px;
    background-color: #f5f5f5;
    transition: all 0.2s ease-in-out;
}
.inner-tabs .nav-tabs>li>a{
    border-color: transparent;
    border-bottom-color: #ededed;
    background-color: #fbfbfb;
}
.inner-tabs .nav-tabs>li.active>a, .inner-tabs .nav-tabs>li.active>a:focus, .inner-tabs .nav-tabs>li.active>a:hover, .inner-tabs .nav-tabs>li>a:focus, .inner-tabs .nav-tabs>li>a:hover, .inner-tabs .nav-tabs>li>a:active {
    border-color: transparent;
    border-bottom-color: #000;
    background-color: inherit;
    color: #000;
}
a:focus, a:hover{
    text-decoration: none;
}
.full-width{
    width: 100%;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 1px;
}
.full-width:after{
    position: absolute;
    content: "\f3d8";
    right: 0;
    font-family: 'Ionicons';
    color: #000;
    transition: all 0.2s ease-in-out;
}
.collapsed>.full-width:after{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.panel{
    background-color: transparent;
}
.panel-default>.panel-heading {
    color: #000;
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: #ddd;
}
.panel-default{
    border-color: transparent;
}
.schedule .panel-group{
    padding: 0 60px;
}
.panel-group .panel{
    border-radius: 0;
}

.thum-s{
    margin-right: 5px;
}
.time{
    font-size: 16px;
    letter-spacing: .4px;
    text-transform: uppercase;
    font-weight: 700;
}

.schedule_item {
    border-bottom: 1px solid #D8D8D8;
    padding-top: 10px;
}
.panel-body{
    margin-bottom: 20px;
}



.schedule-box {
    position: relative;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 50px 0;
    margin: 25px 0 0;
}
.schedule-box::before {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border: 1px solid #fff;
}