@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,700);

html {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height:1.6;
}
body {
	color: #4e4e4e;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	-webkit-font-smoothing: antialiased
}
a {
	color: #000;
	color: rgba(169, 68, 66, 1);
}
a:focus, a:hover{
    text-decoration: none;
}
p {
	margin-bottom: 1.6em;
}
p a {
	text-decoration: underline
}
a:focus {
	outline: none
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	letter-spacing: 2.3px
}
ul li {
	font-weight: 700;
	margin-bottom: 10px
}
.section-title {
	color: #313131;
	letter-spacing: 1px;
	margin: 0 0 20px;
	text-align: center;
	text-transform: uppercase;
}
@media (min-width:768px) {
	.section-title {
		letter-spacing: 2.3px;
		margin: 0 0 25px;
		text-align: left;
	}
}
.section-title span {
	text-transform: lowercase;
}
.list-arrow-right {
	list-style-type: none;
	padding: 0;
}
.list-arrow-right li {
	padding-left: 20px;
	position: relative;
}
.list-arrow-right li::before {
	color: #4e4e4e;
	content: "\f3d3";
	font-family: "Ionicons";
	left: 0;
	position: absolute;
}